body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding: 30px;
  box-shadow: 0 4px 10px rgba(12, 10, 10, 0.1);
  /* background-color: #bb2323; */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(5, 5, 5, 0.1);
  margin: 30px auto;
  max-width: 900px;
}

.movieList{
  box-shadow: 0 2px 6px rgba(12, 10, 10, 0.1);
  padding: 5px;
  height: 250px;
  width: 250px;
  background-color:rgba(143, 136, 136, 0.1);
  border-radius: 10px;
  text-align: center;
}


.ticket-checkout{
  border: 1px solid rgb(206, 202, 202);
  box-shadow: 0 2px 6px rgba(12, 10, 10, 0.1);
  padding: 5px;
  height: fit-content;
  width: fit-content;
  margin-right: 20px;
  /* background-color:rgba(151, 148, 148, 0.1); */
}

.payment-checkout{
  border: 1px solid rgb(206, 202, 202);
  box-shadow: 0 2px 6px rgba(12, 10, 10, 0.1);
  padding: 5px;
  height: fit-content;
  width: fit-content;
  margin-right: 20px;
  /* background-color:rgba(151, 148, 148, 0.1); */
  
}

.fee-checkout{
  box-shadow: 0 2px 6px rgba(12, 10, 10, 0.1);
  padding: 10px 5px;
  height: fit-content;
  width: 450px;
  /* background-color:rgba(151, 148, 148, 0.1); */
  border: 1px solid rgb(206, 202, 202);
}

/* £££ */
.ticket-selection {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 220px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.ticket-select {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 20px;
}

.selected-count {
  font-size: 18px;
}

.count {
  font-weight: bold;
  color: #ff7f50;
}

/* £££ */
.billing-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 800px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.payment-method {
  margin-bottom: 20px;
  text-align: center;
}

.payment-method h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.payment-method label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.input-field {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}